name: clone

on:
  schedule:
    - cron: 1 1 1 1 1
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      

      - name: Push to master
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          curl -O https://raw.githubusercontent.com/Yuheng0101/Bncr_plugins/main/影视搜索.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/Yuheng0101/Bncr_plugins/main/汇总.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/Yuheng0101/Bncr_plugins/main/汇总.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/Bncr_SPY.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/京东口令解析url.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/奶酪.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/查询.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/消息转发.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/登录.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/自建sign.js || echo "已删除"
          
          cd ./mod
          ls
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/AmQlMod.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/AmTool.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/CryptoJS.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/USER_AGENTS.js|| echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/SpyValueChange.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/SpyHandleMsg.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/SpyHandleMsg.js || echo "已删除"
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/mod/SpyConfig.js || echo "已删除"                    
          git add .
          git commit -m "$time" || echo "no change"
          git push -u origin main
