name: clone

on:
  schedule:
    - cron: 1 1 1 1 1
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      

      - name: Push to master
        run: |
          curl -O https://raw.githubusercontent.com/Yuheng0101/Bncr_plugins/main/影视搜索.js
          curl -O https://raw.githubusercontent.com/Yuheng0101/Bncr_plugins/main/汇总.js
          curl -O https://raw.githubusercontent.com/Yuheng0101/Bncr_plugins/main/汇总.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/Bncr_SPY.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/京东口令解析url.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/奶酪.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/查询.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/消息转发.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/登录.js
          curl -O https://raw.githubusercontent.com/RedLightsDistrict/Bncr_plugins/main/自建sign.js
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git remote set-url --add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"     
          
          sed -i "/${{ matrix.userName }}\/${{ matrix.repoName }}/s#Updated: [a-zA-Z0-9]*#Updated: ${{ env.commit }}#" README.md
          git add .
          git commit -m "${{ env.commit }}" || echo "no change"
          git push -u origin main
